@media (max-width: 1199px) and (min-width: 1024px) { }
@media (max-width: 1023px) and (min-width: 992px) { }
@media (max-width: 991px) and (min-width: 768px) {
    .portfolio{
        height: 100%;
    max-width: 79.333333%!important;
    }
    .Third-project {
        margin-top: 2rem;
    }
 }
@media (max-width: 767px) and (min-width: 685px) {
    .my-projects.row.justify-cont-bet.mt-5 {
        justify-content: center!important;
    }
    .portfolio{
        height: 100%;
    }
    .second-project {
        margin-top: 2rem;
    }
    .Third-project {
        margin-top: 2rem;
    }
 }
@media (max-width: 684px) and (min-width: 568px) {
    .my-projects.row.justify-cont-bet.mt-5 {
        justify-content: center!important;
    }
    .portfolio{
        height: 100%;
    }
    .second-project {
        margin-top: 2rem;
    }
    .Third-project {
        margin-top: 2rem;
    }
 }
@media (max-width: 567px) and (min-width: 480px) {
    .my-projects.row.justify-cont-bet.mt-5 {
        justify-content: center!important;
    }
    .portfolio{
        height: 100%;
    }
    .second-project {
        margin-top: 2rem;
    }
    .Third-project {
        margin-top: 2rem;
    }
 }
@media (max-width: 479px) and (min-width: 320px) {
    .my-projects.row.justify-cont-bet.mt-5 {
        justify-content: center!important;
    }
    .portfolio{
        height: 100%;
    }
    .second-project {
        margin-top: 2rem;
    }
    .Third-project {
        margin-top: 2rem;
    }
 }